.button
    height: 36px
    border: 1px solid #110038
    font-size: 16px
    letter-spacing: 0
    text-align: center
    line-height: 18px

.create-gif
    width: 34.24% // ! AQUÍ EL OTRO CAMBIO
    margin-right: 3.8%
    display: flex
    align-items: center
    justify-content: center
    a
        text-decoration: none
        &:active
            color: #110038

.choose-theme
    width: 78% // ! AQUÍ EL OTRO CAMBIO
    display: flex
    align-items: center
    justify-content: center

.dropdown-button
    width: 22% // ! AQUÍ EL OTRO CAMBIO
    display: flex
    align-items: center
    justify-content: center

.button-theme
    display: flex

.menu-themes
    width: 11.45%
    height: 102px
    display: none
    flex-direction: column
    background: #E6E6E6
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF
    z-index: 1
    position: absolute
    top: 101px
    div 
        display: flex
        align-items: center
        width: 88.24% // ! AQUÍ EL OTRO CAMBIO
        height: 36px
        margin-left: 10px
        margin-top: 10px
        p    
            color: #110038
            font-size: 16px
            margin-left: 16px
        &:nth-child(1)
            background: #FFF4FD
            border: 1px solid #CCA6C9
            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF
        &:nth-child(2)
            background: #F0F0F0
            border: 1px solid #808080
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF
            margin-bottom: 10px

.mis-gifos
    width: 22.6%
    height: 32px
    display: flex
    justify-content: flex-start
    align-items: center
    a
        text-decoration: none
        font-size: 16px
        letter-spacing: 0
        line-height: 18px
        &:active
            opacity: 0.5

.search-button
    width: 102px
    height: 36px
    display: flex
    justify-content: space-evenly
    align-items: center
    margin-right: 18px
    margin-left: 8px
    font-size: 16px
    letter-spacing: 0
    line-height: 18px
    img
        width: 16px
        height: 16px

.container-capture
    height: 36px
    display: flex
    
.camera-button
    width: 36px
    height: 36px
    display: flex
    align-items: center
    justify-content: center

.button-historial
    width: auto
    padding: 8px 7px
    margin-right: 8px
    background: #4180F6
    border: 1px solid #4C2F99
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF
    p
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 18px;

.section-historial
    display: flex
    width: 83.3%
    margin-top: 12px