.button
    height: 36px
    border: 1px solid #110038
    font-size: 16px
    letter-spacing: 0
    text-align: center
    line-height: 18px

.create-gif
    width: 144px
    margin-right: 16px
    display: flex
    align-items: center
    justify-content: center
    a
        text-decoration: none
        &:active
            color: #110038

.choose-theme
    width: 131px
    display: flex
    align-items: center
    justify-content: center

.dropdown-button
    width: 36px
    margin-right: 16.5px
    display: flex
    align-items: center
    justify-content: center

.button-theme
    display: flex

.menu-themes
    width: 170px
    height: 102px
    display: none
    flex-direction: column
    background: #E6E6E6
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF
    z-index: 1
    div 
        display: flex
        align-items: center
        width: 150px
        height: 36px
        margin-left: 10px
        margin-top: 10px
        p    
            color: #110038
            font-size: 16px
            margin-left: 16px
        &:nth-child(1)
            background: #FFF4FD;
            border: 1px solid #CCA6C9;
            box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
        &:nth-child(2)
            background: #F0F0F0;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
            margin-bottom: 10px

.mis-gifos
    width: 76px
    height: 18x
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: center
    a
        text-decoration: none
        font-size: 16px
        letter-spacing: 0
        line-height: 18px
    &:hover
        outline: 1px dotted #110038
        &:active
            opacity: 0.5

.search-button
    width: 102px
    height: 36px
    display: flex
    justify-content: space-evenly
    margin-right: 18px
    margin-left: 8px
    background-color: #E6E6E6
    border: 1px solid #808080
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF
    font-size: 16px
    color: #B4B4B4
    letter-spacing: 0
    line-height: 18px
    img
        width: 16px
        height: 16px

.container-capture
    height: 36px
    display: flex
    
.camera-button
    width: 36px
    height: 36px
    display: flex
    align-items: center
    justify-content: center