//Fondo
.day-background
    background: #fff6fe
.night-background
    background: #110038

//Barras
.day-bar
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%)
.night-bar
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%)

//Fondo de los botones
.day-button
    background-color: #F7C9F3
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF
.night-button
    background: #EE3EFE
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF

//Color de letra en botones
.day-font
    color: #110038
.night-font
    color: #FFFFFF