//Fondo
.day-background
    background: #fff6fe
.night-background
    background: #110038

//Barras
.day-bar
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%)
.night-bar
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%)

//Fondo de los botones
.day-button
    background-color: #F7C9F3
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF
.night-button
    background: #EE3EFE
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF
    //Botón Ver más...
.day-see
    background: #4180F6
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF
.night-see
    background: #2E32FB
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF

//Color de letra en botones
.day-font
    color: #110038
.night-font
    color: #FFFFFF

// .shadow
//     display: none
//     position: absolute
//     height: 32px
//     border: 1px dotted #110038
//     background-color: #cda5cd
//     z-index: 5

// .shadow-size-140
//     width: 140px

// .shadow-size-127
//     width: 127px

// .shadow-size-32
//     width: 32px

// .shadow-hover
//     z-index: 10