.gifos-box
    width: 100%
    height: 118px
    display: flex
    justify-content: space-between
    align-items: center

.logo
    width: 102.6px
    height: 64px
    margin-left: 6.33%

.container-top-button
    display: flex
    height: 36px
    margin-right: 9.8%

.choose-theme-container
    flex-direction: columns
    margin-right: 16.5px

.choose-theme-button
    display: flex