//---------- Sección Header ----------

.header
    height: 142px

//Secciones al interior de header

.gifos-box
    height: 118px
    display: flex
    justify-content: space-between
    align-items: center

.choose-theme-button
    width: 39.72% // ! AQUÌ HICE EL CAMBIO (167)
    margin-right: 3.92%
    display: flex
    flex-direction: column
    cursor: pointer

//---------- Sección Searcher ----------

.searcher
    display: flex
    flex-direction: column
    align-items: center
    height: 163px

//---------- Sección Sugerencias ----------

.suggestions
    height: 425px
    display: flex
    flex-direction: column
    align-items: center

.container-suggestions
    height: 313px
    display: flex
    margin-top: 16px

//---------- Sección Tendencias ----------    

.in-trend
    display: flex
    flex-direction: column
    align-items: center
    figure
        width: 83.3%
        display: grid
        grid-template: repeat(8, 298px) / repeat(4, 24%)
        gap: 1.33%
        margin-top: 1px
        div.trend-card
            display: flex
            justify-content: center
            align-items: center
            //la quinta celda tendrá dos celdas + un gap de tamaño
            &:nth-child(5n)
                grid-column: span 2
            img
                object-fit: cover
                width: 100%
                height: 100%
                
                