//---------- Sección Header ----------

.header
    width: 100%
    height: 142px

//Secciones al interior de header

.gifos-box
    width: 100%
    height: 118px
    display: flex
    justify-content: space-between
    align-items: center

.container-top-button
    display: flex
    height: 36px
    margin-right: 9.8%

.choose-theme-button
    display: flex
    flex-direction: column
    cursor: pointer

//---------- Sección Searcher ----------

.searcher
    display: flex
    flex-direction: column
    align-items: center
    height: 163px