.top-main-bar {
  height: 23px;
  margin: 1px 1px 0px 1px;
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-main-bar p {
  margin-left: 0.5%;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.title-bar {
  width: 83.3%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 7px;
  margin-bottom: 16px;
  background: #FFFAFE;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
}

.button {
  height: 36px;
  border: 1px solid #110038;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.create-gif {
  width: 34.24%;
  margin-right: 3.8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.create-gif a {
  text-decoration: none;
}

.create-gif a:active {
  color: #110038;
}

.choose-theme {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown-button {
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-themes {
  width: 11.45%;
  height: 102px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  z-index: 1;
  position: absolute;
  top: 101px;
}

.menu-themes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88.24%;
  height: 36px;
  margin-left: 10px;
  margin-top: 10px;
}

.menu-themes div p {
  color: #110038;
  font-size: 16px;
  margin-left: 16px;
}

.menu-themes div:nth-child(1) {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.menu-themes div:nth-child(2) {
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  margin-bottom: 10px;
}

.mis-gifos {
  width: 22.6%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px dotted transparent;
}

.mis-gifos a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
}

.mis-gifos a:active {
  opacity: 0.5;
}

.search-button {
  width: 102px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
  margin-left: 8px;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px;
  cursor: pointer;
}

.search-button img {
  width: 16px;
  height: 16px;
}

.button-historial {
  width: auto;
  padding: 8px 7px;
  margin-right: 8px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  cursor: pointer;
  -ms-flex-line-pack: center;
      align-content: center;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.button-historial p {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
}

.div-historial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 83.3%;
  margin-top: 12px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.div-historial::-webkit-scrollbar {
  display: none;
}

.anchor-logo {
  width: 7.125%;
  margin-left: 8%;
}

.anchor-logo .logo {
  height: 50px;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

.sailor-day-button {
  cursor: poniter;
}

.sailor-night-button {
  cursor: poniter;
}

.day-background {
  background: #fff6fe;
}

.night-background {
  background: #110038;
}

.day-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.night-bar {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.day-button {
  background-color: #F7C9F3;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.night-button {
  background: #EE3EFE;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.day-see {
  background: #4180F6;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

.night-see {
  background: #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

.day-font {
  color: #110038;
}

.night-font {
  color: #FFFFFF;
}

.night-mis-gifos a {
  color: #FFFFFF;
}

.night-mis-gifos:hover {
  border: 1px dotted #FFFFFF;
}

.day-mis-gifos a {
  color: #110038;
}

.day-mis-gifos:hover {
  border: 1px dotted #110038;
}

.day-search-button-inactive {
  background-color: #E6E6E6;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #B4B4B4;
}

.day-search-button-active {
  background-color: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

.night-search-button-inactive {
  background-color: #B4B4B4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #8F8F8F;
}

.night-search-button-active {
  background-color: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.day-tag-container {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.night-tag-container {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.search {
  width: 88.083%;
  height: 48px;
  margin-left: 1.25%;
  padding-left: 1.51%;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.top-search-bar {
  width: 99.5%;
  height: 24px;
  margin: 3px 3px 12px 3px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.top-search-bar p {
  margin-left: 0.25%;
  font-size: 14px;
  font-weight: 700;
}

.menu-input {
  display: none;
  width: 83.33%;
  height: 160px;
  position: absolute;
  top: 241px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.menu-input div {
  width: 88.083%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 1.25%;
  margin-top: 10px;
  padding: 7px 0px 7px 16px;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  background: #F0F0F0;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  cursor: pointer;
}

.menu-input div:nth-child(1) {
  margin-top: 16px;
}

.header {
  height: 142px;
}

.gifos-box {
  height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose-theme-button {
  width: 39.72%;
  margin-right: 3.92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.searcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 163px;
}

.suggestions {
  height: 425px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-suggestions {
  height: 313px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.in-trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.in-trend figure {
  width: 83.3%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (298px)[8];
  -ms-grid-columns: (24%)[4];
      grid-template: repeat(8, 298px)/repeat(4, 24%);
  gap: 1.33%;
  margin-top: 1px;
}

.in-trend figure div.trend-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.in-trend figure div.trend-card:nth-child(5n) {
  grid-column: span 2;
}

.in-trend figure div.trend-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.card {
  width: 20vw;
  height: 313px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card:nth-last-child(1) {
  margin-right: 0px;
}

.card .top-card-bar {
  width: 97.2%;
  height: 24px;
  margin: 3px 0px 2px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .top-card-bar p {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0;
  margin-left: 3px;
}

.card .top-card-bar .close {
  width: 16px;
  height: 14px;
  margin-right: 4px;
  cursor: pointer;
}

.card .card-image {
  width: 97.2%;
  height: 280px;
}

.card .card-image img {
  width: 100%;
  height: 280px;
}

.card .card-image .see-more {
  width: 81px;
  height: 34px;
  position: relative;
  bottom: 45px;
  left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #4C2F99;
  cursor: pointer;
}

.card .card-image .see-more p {
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.card .card-image .see-more p:hover {
  border: 1px dotted #110038;
  padding: 5px 7px;
  background-color: rgba(0, 0, 0, 0.05);
}

.trend-hover {
  display: none;
  width: 19.6%;
  height: 296px;
  position: absolute;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 1px dotted #110038;
  background-color: rgba(0, 0, 0, 0.05);
}

.trend-hover div {
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trend-hover div p {
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.container-top-main-bar {
  width: 83.3%;
  height: 99px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.container-top-main-bar .container-searcher {
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
}

.container-top-button {
  width: 31%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 36px;
  margin-right: 9.8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chakra-bold {
  font-weight: 700;
}

.ital {
  font-style: italic;
}

.oneA {
  color: #00001A;
}

.pointer-cursor {
  cursor: pointer;
}

.logo-box {
  height: 187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-box a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4.2%;
  margin-top: 3.82%;
}

.logo-box a .arrow {
  height: 24px;
  width: 24px;
}

.logo-box a .logo-create-gif {
  height: 64px;
  margin-left: 7px;
}

.creator-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.creator-box .main-create-box {
  width: 62.5%;
  height: 386px;
  margin-bottom: 153px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.creator-box .main-create-box .main-creator-bar {
  width: 99.12%;
  height: 24px;
  margin: 3px 0px 30px 0.44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .main-create-box .main-creator-bar p {
  margin-left: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.creator-box .main-create-box .title-creator {
  height: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 3.65%;
}

.creator-box .main-create-box .title-creator img {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

.creator-box .main-create-box .title-creator p {
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.creator-box .main-create-box .info-creator {
  width: 75.73%;
  height: 218px;
  margin-left: 10.67%;
  margin-bottom: 28px;
  overflow: auto;
}

.creator-box .main-create-box .main-create-buttons {
  width: 44.44%;
  margin-left: 50.3%;
}

.creator-box .main-create-box .main-create-buttons .cancelar {
  width: 47.36%;
  height: 36px;
  margin-right: 2.34%;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.creator-box .main-create-box .main-create-buttons .comenzar {
  width: 47.36%;
  height: 36px;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
}

.creator-box .before-start-box {
  width: 59.72%;
  height: 548px;
  display: none;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-bottom: 180px;
}

.creator-box .before-start-box .top-creator-bar {
  width: 99.3%;
  height: 24px;
  margin: 3px 0px 11px 0.35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .before-start-box .top-creator-bar p {
  margin-left: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.creator-box .before-start-box .top-creator-bar img {
  margin-right: 10px;
}

.creator-box .before-start-box .video-container {
  height: 434px;
  width: 96.74%;
  margin-bottom: 24px;
  margin-left: 1.28%;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.creator-box .before-start-box .video-container .recorder {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.creator-box .before-start-box .container-capture {
  width: 20.93%;
  height: 36px;
  margin-left: 77.1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.creator-box .before-start-box .container-capture .camera-button {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creator-box .before-start-box .container-capture .capture-button {
  width: 75%;
  height: 100%;
}

.creator-box .preview {
  width: 59.72%;
  height: 548px;
  display: none;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-bottom: 180px;
}

.creator-box .preview .top-preview-bar {
  width: 99.3%;
  height: 24px;
  margin: 3px 0px 11px 0.35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .preview .top-preview-bar p {
  margin-left: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.creator-box .preview .preview-container {
  height: 434px;
  width: 96.74%;
  margin-bottom: 24px;
  margin-left: 1.28%;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .preview .preview-container .preview-gif {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.creator-box .preview .timer-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .preview .timer-controls .preview-timer {
  width: 47.44%;
  height: 36px;
  margin-left: 1.27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .preview .timer-controls .preview-timer .timer-recording {
  height: 36px;
  width: 30.39%;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creator-box .preview .timer-controls .preview-timer .container-forward-arrow {
  height: 20px;
  width: 20px;
  margin-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #110038;
}

.creator-box .preview .timer-controls .preview-timer .progress-bar {
  width: 58.82%;
  height: 24px;
  background: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
}

.creator-box .preview .timer-controls .preview-buttons {
  width: 44.44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1.86%;
}

.creator-box .preview .timer-controls .preview-buttons .repetir-captura {
  width: 47.36%;
  height: 36px;
  margin-right: 5%;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.creator-box .preview .timer-controls .preview-buttons .subir-guifo {
  width: 47.36%;
  height: 36px;
  font-size: 16px;
  text-align: center;
  line-height: 18px;
}

.creator-box .uploading {
  width: 59.72%;
  height: 548px;
  display: none;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-bottom: 180px;
}

.creator-box .uploading .top-uploading-bar {
  width: 99.3%;
  height: 24px;
  margin: 3px 0px 11px 0.35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .uploading .top-uploading-bar p {
  margin-left: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.creator-box .uploading .top-uploading-bar img {
  margin-right: 10px;
}

.creator-box .uploading .upload-container {
  height: 440px;
  width: 97.44%;
  margin-bottom: 21px;
  margin-left: 0.93%;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .uploading .upload-container .globe-img {
  height: 48px;
  margin-bottom: 8px;
}

.creator-box .uploading .upload-container .first-upload-text {
  width: 30%;
  margin-bottom: 39px;
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.creator-box .uploading .upload-container .upload-bar-progress {
  margin-bottom: 8px;
  width: 50%;
  height: 24px;
  background: #B4B4B4;
  -webkit-box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
          box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
}

.creator-box .uploading .upload-container .second-upload-text {
  font-size: 12px;
  color: rgba(17, 0, 56, 0.64);
  letter-spacing: 0;
  text-align: center;
  line-height: 14px;
}

.creator-box .uploading .cancel-upload {
  width: 16.74%;
  height: 36px;
  margin-left: 81.63%;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.creator-box .success-create-box {
  width: 47.5%;
  height: 386px;
  display: none;
  margin-bottom: 180px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.creator-box .success-create-box .success-creator-bar {
  width: 99.12%;
  height: 24px;
  margin: 3px 0px 30px 0.44%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.creator-box .success-create-box .success-creator-bar p {
  margin-left: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.creator-box .success-create-box .success-creator-bar img {
  margin-right: 10px;
}

.creator-box .success-create-box .success-content {
  height: 196px;
  width: 100%;
  margin-bottom: 61px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creator-box .success-create-box .success-content .mini-preview-container {
  height: 100%;
  width: 51.45%;
  margin-right: 3.33%;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.creator-box .success-create-box .success-content .mini-preview-container .preview-mini-gif {
  margin: 2px 3px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.creator-box .success-create-box .success-content .success-options {
  height: 196px;
  width: 38.84%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creator-box .success-create-box .success-content .success-options p {
  font-weight: 700;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
}

.creator-box .success-create-box .success-content .success-options .success-button {
  width: 100%;
  height: 36px;
  margin-top: 14px;
  background: #FFF4FD;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
}

.creator-box .success-create-box .success-content .success-options .success-button:nth-child(2) {
  margin-top: 16px;
}

.creator-box .success-create-box .listo-button {
  width: 20%;
  margin-left: 73.65%;
}

.mis-guifos-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mis-guifos-container .mis-guifos-bar {
  width: 83%;
  margin-bottom: 16px;
}

.mis-guifos-container .mis-guifos-gallery {
  width: 83%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (298px)[3];
  -ms-grid-columns: (24%)[4];
      grid-template: repeat(3, 298px)/repeat(4, 24%);
  gap: 1.33%;
}

.mis-guifos-container .mis-guifos-gallery div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mis-guifos-container .mis-guifos-gallery div:nth-child(5n) {
  grid-column: span 2;
}

.mis-guifos-container .mis-guifos-gallery div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */